In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.DataFrame({
    'Income': [15000, 1800, 120000, 10000],
    'Age': [25, 18, 42, 51],
    'Department': ['HR','Legal','Marketing','Management']
})
df.head()

   Income  Age  Department
0   15000   25          HR
1    1800   18       Legal
2  120000   42   Marketing
3   10000   51  Management

In [4]:
df_scaled = df.copy()
col_names = ['Income', 'Age']
features = df_scaled[col_names]
features.head()

   Income  Age
0   15000   25
1    1800   18
2  120000   42
3   10000   51

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [6]:
df_scaled[col_names] = scaler.fit_transform(features.values)

In [7]:
df_scaled

     Income       Age  Department
0  0.111675  0.212121          HR
1  0.000000  0.000000       Legal
2  1.000000  0.727273   Marketing
3  0.069374  1.000000  Management

In [8]:
scaler = MinMaxScaler(feature_range=(5,10))

In [9]:
df_scaled[col_names] = scaler.fit_transform(features.values)
df_scaled

      Income        Age  Department
0   5.558376   6.060606          HR
1   5.000000   5.000000       Legal
2  10.000000   8.636364   Marketing
3   5.346870  10.000000  Management

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
df_scaled[col_names] = scaler.fit_transform(features.values)
df_scaled

     Income       Age  Department
0 -0.449056 -0.685248          HR
1 -0.722214 -1.218219       Legal
2  1.723796  0.609110   Marketing
3 -0.552525  1.294358  Management

In [13]:
df_scaled.describe()

         Income           Age
count  4.000000  4.000000e+00
mean   0.000000 -5.551115e-17
std    1.154701  1.154701e+00
min   -0.722214 -1.218219e+00
25%   -0.594947 -8.184910e-01
50%   -0.500791 -3.806935e-02
75%    0.094157  7.804217e-01
max    1.723796  1.294358e+00

## MaxAbsScaler

In [14]:
df["Balance"] = [100.0, -263.0, 2000.0, -5.0]
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()

In [23]:
df_scaled =df.copy()
col_names = ['Income', 'Age','Balance']
features = df_scaled[col_names]

In [24]:
df_scaled[col_names] = scaler.fit_transform(features.values)

In [25]:
df_scaled

     Income       Age  Department  Balance
0  0.125000  0.490196          HR   0.0500
1  0.015000  0.352941       Legal  -0.1315
2  1.000000  0.823529   Marketing   1.0000
3  0.083333  1.000000  Management  -0.0025

In [26]:
df_scaled.describe()

         Income       Age   Balance
count  4.000000  4.000000  4.000000
mean   0.305833  0.666667  0.229000
std    0.464994  0.297368  0.519626
min    0.015000  0.352941 -0.131500
25%    0.066250  0.455882 -0.034750
50%    0.104167  0.656863  0.023750
75%    0.343750  0.867647  0.287500
max    1.000000  1.000000  1.000000

In [27]:
df.describe()

             Income        Age      Balance
count       4.00000   4.000000     4.000000
mean    36700.00000  34.000000   458.000000
std     55799.28315  15.165751  1039.252616
min      1800.00000  18.000000  -263.000000
25%      7950.00000  23.250000   -69.500000
50%     12500.00000  33.500000    47.500000
75%     41250.00000  44.250000   575.000000
max    120000.00000  51.000000  2000.000000

# Robust Scaler

## x_scaled = (x – Q1)/(Q3 – Q1)

In [28]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

In [29]:
df_scaled[col_names] = scaler.fit_transform(features.values)
df_scaled

     Income       Age  Department   Balance
0  0.075075 -0.404762          HR  0.081458
1 -0.321321 -0.738095       Legal -0.481769
2  3.228228  0.404762   Marketing  3.029480
3 -0.075075  0.833333  Management -0.081458

# Quantile Transformer Scaler
'''One of the most interesting feature transformation 
techniques is the Quantile Transformer Scaler converts the variable distribution
to a normal distribution. and scales it accordingly.
Since it makes the variable normally distributed, it also deals with the outliers. 
Here are a few important points regarding the 
Quantile Transformer Scaler
1. It computes the cumulative distribution function of the variable

2. It uses this cdf to map the values to a normal distribution

3. Maps the obtained values to the desired output distribution using the associated quantile function

A caveat to keep in mind though: Since this scaler changes the very distribution of the variables, 
inear relationships among variables may be destroyed by using this scaler. Thus, 
it is best to use this for non-linear data.
Here is the code for using the Quantile Transformer:'''

In [30]:
from sklearn.preprocessing import QuantileTransformer
scaler = QuantileTransformer()

In [32]:
df_scaled[col_names] = scaler.fit_transform(features.values)
df_scaled

C:\Users\Hridoy Alam\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:2615: UserWarning: n_quantiles (1000) is greater than the total number of samples (4). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

     Income       Age  Department   Balance
0  0.666667  0.333333          HR  0.666667
1  0.000000  0.000000       Legal  0.000000
2  1.000000  0.666667   Marketing  1.000000
3  0.333333  1.000000  Management  0.333333

# Power Transformer Scaler

In [35]:
from sklearn.preprocessing import PowerTransformer
scaler = PowerTransformer(method = 'box-cox')

'''
parameters:
method = 'box-cox' or 'yeo-johnson'
'''

df_scaled[col_names] = scaler.fit_transform(features.values)
df_scaled

ValueError: The Box-Cox transformation can only be applied to strictly positive data