In [1]:
import numpy as np
import pandas as pd

In [2]:
df_live = pd.read_csv('livedata.csv')

In [3]:
df_live.head()

            team_won       team_lost  winning_score  losing_score
0  Copenhagen Flames            1WIN              2             0
1               ENCE     mousesports              2             0
2           Endpoint          Sharks              2             1
3                NIP            MIBR              2             1
4              Fiend  Iberian Family              2             0

In [4]:
df_live.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33717 entries, 0 to 33716
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team_won       33717 non-null  object
 1   team_lost      33717 non-null  object
 2   winning_score  33717 non-null  int64
 3   losing_score   33717 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.0+ MB