# 1 Getting Ready

## 1.1 Import Required Libraries

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import relativedelta

## 1.2 Setting up Environment

In [12]:
plt.style.use('fivethirtyeight')
%matplotlib inline
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# 2 Load EDA-DPP Data

## 2.1 Load from pickle

In [13]:
df_eda_churn = pd.read_pickle('./data/eda/churn_eda.pickle')

## 2.2 Have a Look into the EDA-DPP Outpput Data

In [14]:
df_eda_churn.head()

  CUSTOMER_ID  TENURE  MONTHLY_CHARGES CHURN  CHURN_STATUS
0  7590-VHVEG       1            29.85    No             0
1  5575-GNVDE      34            56.95    No             0
2  3668-QPYBK       2            53.85   Yes             1
3  7795-CFOCW      45            42.30    No             0
4  9237-HQITU       2            70.70   Yes             1

## 2.3 Make a copy of EDA-DPP Data to work on

In [15]:
df = df_eda_churn.copy()

# 3 Learn more about the Dataset - Meta Info

In [16]:
df.shape

(7043, 5)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
CUSTOMER_ID        7043 non-null object
TENURE             7043 non-null int64
MONTHLY_CHARGES    7043 non-null float64
CHURN              7043 non-null object
CHURN_STATUS       7043 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 275.2+ KB

In [18]:
df.columns

Index(['CUSTOMER_ID', 'TENURE', 'MONTHLY_CHARGES', 'CHURN', 'CHURN_STATUS'], dtype='object')

In [19]:
df.describe()

            TENURE  MONTHLY_CHARGES  CHURN_STATUS
count  7043.000000      7043.000000   7043.000000
mean     32.371149        64.761692      0.265370
std      24.559481        30.090047      0.441561
min       0.000000        18.250000      0.000000
25%       9.000000        35.500000      0.000000
50%      29.000000        70.350000      0.000000
75%      55.000000        89.850000      1.000000
max      72.000000       118.750000      1.000000

# 4 Dummification

If Needed

# 5 Drop Columns

## 5.1 Drop ID Columns

In [20]:
df.drop(columns=['CUSTOMER_ID'],inplace=True,axis=1)

## 5.2 Drop CHURN Column

In [21]:
df.drop(columns=['CHURN'],inplace=True,axis=1)

# 6 Save the DataFrame for ML Modeling

In [24]:
df.to_pickle('./data/training/churn.pickle')