# 1 Setting Up

## 1.1 Import Required Library

We will import the required libraries in the following cell

In [1]:
import pandas as pd
import numpy as np

## 1.2 Set Environment

In [2]:
pd.options.display.max_columns = None

# 2 Loading Raw Data (csv)

## 2.1 Extracting & Loading

In [11]:
raw_train_cols=['STORE','DEPT','DATE','WEEKLY_SALES','IS_HOLIDAY']

df_raw_train = pd.read_csv('./data/train.csv', names=raw_train_cols, header=None, skiprows=1)

## 2.2 Have a glance on the Dataset(s)

In [14]:
df_raw_train.head()

   STORE  DEPT        DATE  WEEKLY_SALES  IS_HOLIDAY
0      1     1  2010-02-05      24924.50       False
1      1     1  2010-02-12      46039.49        True
2      1     1  2010-02-19      41595.55       False
3      1     1  2010-02-26      19403.54       False
4      1     1  2010-03-05      21827.90       False

## 2.3 Copy the original Dataset(s)

In [15]:
df_train = df_raw_train.copy()

# 3 Learn more about the Dataset(s) - Meta Info

In [16]:
df_train.shape

(421570, 5)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
STORE           421570 non-null int64
DEPT            421570 non-null int64
DATE            421570 non-null object
WEEKLY_SALES    421570 non-null float64
IS_HOLIDAY      421570 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [18]:
df_train.columns

Index(['STORE', 'DEPT', 'DATE', 'WEEKLY_SALES', 'IS_HOLIDAY'], dtype='object')

In [19]:
df_train.describe()

               STORE           DEPT   WEEKLY_SALES
count  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123
std        12.785297      30.492054   22711.183519
min         1.000000       1.000000   -4988.940000
25%        11.000000      18.000000    2079.650000
50%        22.000000      37.000000    7612.030000
75%        33.000000      74.000000   20205.852500
max        45.000000      99.000000  693099.360000

# 4 Data Type converstion

In the assignment

# 5 For further Practice

In [20]:
df_train.head()

   STORE  DEPT        DATE  WEEKLY_SALES  IS_HOLIDAY
0      1     1  2010-02-05      24924.50       False
1      1     1  2010-02-12      46039.49        True
2      1     1  2010-02-19      41595.55       False
3      1     1  2010-02-26      19403.54       False
4      1     1  2010-03-05      21827.90       False

In [21]:
df_train['DAILY_SALES'] = df_train['WEEKLY_SALES']/7

In [22]:
df_train.head()

   STORE  DEPT        DATE  WEEKLY_SALES  IS_HOLIDAY  DAILY_SALES
0      1     1  2010-02-05      24924.50       False  3560.642857
1      1     1  2010-02-12      46039.49        True  6577.070000
2      1     1  2010-02-19      41595.55       False  5942.221429
3      1     1  2010-02-26      19403.54       False  2771.934286
4      1     1  2010-03-05      21827.90       False  3118.271429

In [23]:
def daily_sales(x):
    return x/7

In [29]:
df_train['DAILY_SALES_NEW'] = df_train['WEEKLY_SALES'].apply(daily_sales)

In [27]:
df_train.head()

,STORE,DEPT,DATE,WEEKLY_SALES,IS_HOLIDAY,DAILY_SALES,DAILY_SALES_NEW
0,1,1,2010-02-05,24924.50,False,3560.642857,3560.642857
1,1,1,2010-02-12,46039.49,True,6577.070000,6577.070000
2,1,1,2010-02-19,41595.55,False,5942.221429,5942.221429
3,1,1,2010-02-26,19403.54,False,2771.934286,2771.934286
4,1,1,2010-03-05,21827.90,False,3118.271429,3118.271429