In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from numpy import arange
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import make_scorer, accuracy_score, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from fpdf import FPDF 
from sklearn.pipeline import Pipeline
import pickle
import datetime
from datetime import datetime as dt
from datetime import timedelta
from keras.models import model_from_json

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

#from imblearn.over_sampling import SMOTE

In [4]:
%matplotlib inline
plt.style.use('fivethirtyeight')
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [5]:
df_churn = pd.read_pickle('./data/training/churn.pickle')

In [6]:
df_churn.head()

  CUSTOMER_ID  TENURE  MONTHLY_CHARGES CHURN  CHURN_STATUS  GENDER_F  GENDER_M
0  7590-VHVEG       1            29.85    No             0         1         0
1  5575-GNVDE      34            56.95    No             0         0         1
2  3668-QPYBK       2            53.85   Yes             1         0         1
3  7795-CFOCW      45            42.30    No             0         0         1
4  9237-HQITU       2            70.70   Yes             1         1         0

In [7]:
df = df_churn.copy()

In [8]:
df.shape

(7043, 7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 7 columns):
CUSTOMER_ID        7043 non-null object
TENURE             7043 non-null int64
MONTHLY_CHARGES    7043 non-null float64
CHURN              7043 non-null object
CHURN_STATUS       7043 non-null int64
GENDER_F           7043 non-null uint8
GENDER_M           7043 non-null uint8
dtypes: float64(1), int64(2), object(2), uint8(2)
memory usage: 343.9+ KB

In [10]:
df.columns

Index(['CUSTOMER_ID', 'TENURE', 'MONTHLY_CHARGES', 'CHURN', 'CHURN_STATUS',
       'GENDER_F', 'GENDER_M'],
      dtype='object')

In [11]:
df.describe()

            TENURE  MONTHLY_CHARGES  CHURN_STATUS     GENDER_F     GENDER_M
count  7043.000000      7043.000000   7043.000000  7043.000000  7043.000000
mean     32.371149        64.761692      0.265370     0.495244     0.504756
std      24.559481        30.090047      0.441561     0.500013     0.500013
min       0.000000        18.250000      0.000000     0.000000     0.000000
25%       9.000000        35.500000      0.000000     0.000000     0.000000
50%      29.000000        70.350000      0.000000     0.000000     1.000000
75%      55.000000        89.850000      1.000000     1.000000     1.000000
max      72.000000       118.750000      1.000000     1.000000     1.000000

In [18]:
X = df.drop('CHURN_STATUS', axis=1)
y = df['CHURN_STATUS'].values

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20, random_state=0)
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train,test_size=0.25, random_state=0)

In [20]:
svm = SVC()
svm.fit(X_train,y_train)
svm.score(X_test,y_test)

ValueError: could not convert string to float: 'Yes'