In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
df_raw_cols = ['team_1', 'team_2', '_map', 'result_1', 'result_2', 'map_winner', 'starting_ct', 'ct_1',
              't_2', 't_1', 'ct_2', 'event_id', 'match_id', 'rank_1', 'rank_2', 'map_wins_1', 'map_wins_2','match_winner']
df_raw = pd.read_csv('./results1.csv')
df_raw.head(20)

,Unnamed: 0,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,0,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,1,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,3,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,4,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2
5,5,Singularity,Endpoint,Overpass,13,16,2,2,8,6,5,10,5247,2340456,71,41,0,2,2
6,6,Singularity,Endpoint,Vertigo,11,16,2,1,6,9,5,7,5247,2340456,71,41,0,2,2
7,7,Espada,Tricked,Dust2,16,10,1,2,3,8,13,2,5247,2340455,56,77,2,0,1
8,8,Espada,Tricked,Nuke,16,10,1,1,7,8,9,2,5247,2340455,56,77,2,0,1
9,9,fnatic,BIG,Mirage,12,16,2,1,9,6,3,10,5226,2340397,5,18,1,2,2
10,10,Sprout,Movistar Riders,Mirage,16,10,1,2,9,2,7,8,5150,2340447,33,37,2,0,1
11,11,Rooster,Skyfire,Inferno,16,13,1,1,7,8,9,5,5236,2340444,103,126,2,0,1
12,12,Rooster,Skyfire,Overpass,16,1,1,2,2,0,14,1,5236,2340444,103,126,2,0,1
13,13,Paradox,Airborne,Nuke,19,16,1,1,8,7,7,8,5236,2340443,112,187,1,2,2
14,14,Paradox,Airborne,Mirage,9,16,2,2,6,4,3,12,5236,2340443,112,187,1,2,2
15,15,Paradox,Airborne,Inferno,10,16,2,1,5,10,5,6,5236,2340443,112,187,1,2,2
16,16,Alcoholics Anonymous,Station7,Mirage,5,16,2,2,2,4,3,12,5243,2340131,117,118,5,16,2
17,17,New England Whalers,District 7,Nuke,16,7,1,2,7,1,9,6,5243,2340130,140,91,16,7,1
18,18,AGO,HellRaisers,Train,16,5,1,2,3,3,13,2,5150,2340449,45,49,2,0,1
19,19,AGO,HellRaisers,Inferno,16,5,1,1,11,4,5,1,5150,2340449,45,49,2,0,1

In [5]:
df_winner = df_raw.copy()

In [6]:
df_winner.shape

(45773, 19)

In [7]:
df_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45773 entries, 0 to 45772
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    45773 non-null  int64
 1   team_1        45773 non-null  object
 2   team_2        45773 non-null  object
 3   _map          45773 non-null  object
 4   result_1      45773 non-null  int64
 5   result_2      45773 non-null  int64
 6   map_winner    45773 non-null  int64
 7   starting_ct   45773 non-null  int64
 8   ct_1          45773 non-null  int64
 9   t_2           45773 non-null  int64
 10  t_1           45773 non-null  int64
 11  ct_2          45773 non-null  int64
 12  event_id      45773 non-null  int64
 13  match_id      45773 non-null  int64
 14  rank_1        45773 non-null  int64
 15  rank_2        45773 non-null  int64
 16  map_wins_1    45773 non-null  int64
 17  map_wins_2    45773 non-null  int64
 18  match_winner  45773 non-null  int64
dtypes: int64(16), object(3)
memory usage: 6.6+ MB

In [8]:
df_winner.columns

Index(['Unnamed: 0', 'team_1', 'team_2', '_map', 'result_1', 'result_2',
       'map_winner', 'starting_ct', 'ct_1', 't_2', 't_1', 'ct_2', 'event_id',
       'match_id', 'rank_1', 'rank_2', 'map_wins_1', 'map_wins_2',
       'match_winner'],
      dtype='object')

In [9]:
df_winner.describe()

,Unnamed: 0,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
count,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,4.577300e+04,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000
mean,22886.000000,13.385489,12.731545,1.462478,1.501387,6.659515,6.057283,6.375571,6.335482,3580.790859,2.321278e+06,68.394228,77.289428,4.896708,4.597710,1.464204
std,13213.671273,4.417713,4.715722,0.498596,0.500004,3.257815,3.161310,3.184036,3.285287,904.337168,1.170610e+04,61.835919,65.708309,6.044017,5.931323,0.498722
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,820.000000,2.299001e+06,1.000000,1.000000,0.000000,0.000000,1.000000
25%,11443.000000,11.000000,9.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,2818.000000,2.311132e+06,22.000000,28.000000,1.000000,1.000000,1.000000
50%,22886.000000,16.000000,16.000000,1.000000,2.000000,7.000000,6.000000,6.000000,6.000000,3572.000000,2.321956e+06,49.000000,58.000000,2.000000,2.000000,1.000000
75%,34329.000000,16.000000,16.000000,2.000000,2.000000,9.000000,8.000000,9.000000,9.000000,4346.000000,2.331691e+06,96.000000,110.000000,8.000000,7.000000,2.000000
max,45772.000000,38.000000,41.000000,2.000000,2.000000,15.000000,16.000000,15.000000,15.000000,5248.000000,2.340461e+06,404.000000,404.000000,34.000000,34.000000,2.000000

In [10]:
df_winner = df_winner[['team_1', 'team_2', 'rank_1', 'rank_2', 'match_winner']]

In [11]:
df_winner.head()

                team_1          team_2  rank_1  rank_2  match_winner
0              Recon 5         TeamOne      62      63             2
1              Recon 5         TeamOne      62      63             2
2  New England Whalers        Station7     140     118             2
3              Rugratz  Bad News Bears      61      38             2
4              Rugratz  Bad News Bears      61      38             2

In [12]:
df_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45773 entries, 0 to 45772
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   team_1        45773 non-null  object
 1   team_2        45773 non-null  object
 2   rank_1        45773 non-null  int64
 3   rank_2        45773 non-null  int64
 4   match_winner  45773 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.7+ MB

In [13]:
df_winner.isna().sum()

team_1          0
team_2          0
rank_1          0
rank_2          0
match_winner    0
dtype: int64

In [14]:
# let's first copy the data

df = df_winner.copy()
df.head()

                team_1          team_2  rank_1  rank_2  match_winner
0              Recon 5         TeamOne      62      63             2
1              Recon 5         TeamOne      62      63             2
2  New England Whalers        Station7     140     118             2
3              Rugratz  Bad News Bears      61      38             2
4              Rugratz  Bad News Bears      61      38             2

## model

In [15]:

import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from numpy import arange
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import make_scorer, accuracy_score, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.pipeline import Pipeline
import pickle
import datetime
from datetime import datetime as dt
from datetime import timedelta


from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier

In [16]:
%matplotlib inline
plt.style.use('fivethirtyeight')

In [17]:
X = df.drop('match_winner', axis = 1)
y = df['match_winner'].values

## experiments

In [18]:
set_of_teams = set(list(X['team_1']) + list(X['team_2']))
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))

In [19]:
X['team_1'] = X['team_1'].replace(team_to_num)
X['team_1'].head()

0    673
1    673
2     88
3    816
4    816
Name: team_1, dtype: int64

In [20]:
X['team_2'] = X['team_2'].replace(team_to_num)
X['team_2'].head()

0    1313
1    1313
2     912
3     995
4     995
Name: team_2, dtype: int64

## end experiments

# Model

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train,test_size=0.25, random_state=0)

In [22]:
tstart = dt.now()
pipe = Pipeline(steps=[
    ('randomforest', RandomForestClassifier())
])

param_grid = {
    'randomforest__n_estimators':[100],
    'randomforest__criterion':['entropy'],
    'randomforest__max_depth':[50,100,50],
    'randomforest__max_features':['auto', 'sqrt', 'log2']
}
model=GridSearchCV(estimator=pipe,
                         param_grid=param_grid,
                         scoring='roc_auc', 
                         n_jobs=-1,
                         pre_dispatch='2*n_jobs', 
                         cv=5, 
                         verbose=1,
                         return_train_score=False)

model.fit(X_train,y_train)

pkl_filename = "./models/randomforest.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

X_val_np = X_val.to_numpy()
predicted = model.predict(X_val_np)
proba = model.predict_proba(X_val_np)

accuracy=accuracy_score(y_val, predicted)

CM = confusion_matrix(y_val, predicted)
(TN,FN,TP,FP) = (CM[0][0],CM[1][0],CM[1][1],CM[0][1])
FPR = FP/(FP+TN)
recall = TP/(TP+FN)
precision = TP / (TP+FP)
f1 = 2*(recall*precision)/(recall+precision)
tend = dt.now()
delta = tend-tstart


print("Best Params-")
print(model.best_params_)

print("\n")
print("Algorithm: ", 'RandomForestClassifier')
print("Accuracy: ",accuracy)
print("Precession : ",precision)
print("Recall: ", recall)
print("F1-support: ", f1)
print("FPR: ", FPR)
print("Runtime: ", delta)

print("Best Params-")
print(model.best_params_)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Best Params-
{'randomforest__criterion': 'entropy', 'randomforest__max_depth': 50, 'randomforest__max_features': 'auto', 'randomforest__n_estimators': 100}


Algorithm:  RandomForestClassifier
Accuracy:  0.7986892408519934
Precession :  0.7961399276236429
Recall:  0.7677989762680316
F1-support:  0.7817126613762879
FPR:  0.17397570516779906
Runtime:  0:01:30.405372
Best Params-
{'randomforest__criterion': 'entropy', 'randomforest__max_depth': 50, 'randomforest__max_features': 'auto', 'randomforest__n_estimators': 100}

In [25]:
base_model = RandomForestClassifier(criterion = 'entropy', max_depth = 50, max_features = 'sqrt', verbose = 1)

In [26]:
base_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    4.5s finished

RandomForestClassifier(criterion='entropy', max_depth=50, max_features='sqrt',
                       verbose=1)

In [27]:
predicted = base_model.predict(X_val_np)
accuracy = accuracy_score(y_val, predicted)
print(f"Accuracy is:{accuracy}")

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Accuracy is:0.8027307482250137

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.1s finished

## Testing

In [28]:
import numpy.ma as ma
#copied from the given model
new_matches = {'team_1': ['Triumph','SKADE','Chiefs','G2','AGO'],
               'team_2': ['Recon 5','Budapest Five','Skyfire','BIG','1WIN'],
               
               'rank_1': [79,23,141,4,37],
               'rank_2': [112,80,151,9,46]
              }
new_matches = pd.DataFrame(data=new_matches)

In [29]:
X_test = new_matches[['team_1','team_2','rank_1', 'rank_2']]

In [30]:
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))
team_to_num

{'Sinners': 0,
 'average25iqbutheadshots': 1,
 'Nice': 2,
 'ex-Wind and Rain': 3,
 'Reapers': 4,
 'Hafnet': 5,
 'Tempest': 6,
 'Torpedo': 7,
 'The Final Tribe': 8,
 'Kitsune': 9,
 'France': 10,
 'anoniempjes123': 11,
 'deadweight': 12,
 'MELBET': 13,
 'EXORS': 14,
 'breaddren': 15,
 '2KILL': 16,
 'K29': 17,
 'London': 18,
 'Windigo Academy': 19,
 'WeRise': 20,
 'fish123': 21,
 'TNC': 22,
 'Heretics': 23,
 'TOXIC': 24,
 'SIN': 25,
 'Ballistix': 26,
 'dreamchasers': 27,
 'kinetic': 28,
 'SCARZ Absolute': 29,
 'Space Jam': 30,
 'Chaos': 31,
 'ex-Bizarre': 32,
 'SoaR': 33,
 'KoN Sweden': 34,
 'ONEGODLIKE': 35,
 'Xtreme Lungiz': 36,
 'Sad Story': 37,
 'xTc': 38,
 'Movistar Riders': 39,
 'Platinium': 40,
 'E-Corp': 41,
 'HD': 42,
 'New4': 43,
 'Salamander': 44,
 'Dragons': 45,
 'Dead Pixels': 46,
 'Worst Players': 47,
 'Space Soldiers': 48,
 'ex-Atmosphere': 49,
 'Stay Frosty': 50,
 'Dai Dai': 51,
 'Nemiga': 52,
 'Forge': 53,
 '5FRAGS': 54,
 'CheckSix': 55,
 'Darkhorse': 56,
 'Majestic Lions': 57,
 'ex-noMERCY': 58,
 'Splyce': 59,
 'Dignitas fe': 60,
 'Gux & Friends': 61,
 'Think Outside the Box': 62,
 'Paris Gaming School': 63,
 'Panda': 64,
 'Rogue': 65,
 'Naventic': 66,
 'SuperMassive': 67,
 'Synthetik': 68,
 'eGeneration': 69,
 'Alcoholics Anonymous': 70,
 "Let's Quit": 71,
 'Tricked': 72,
 'Mexico': 73,
 'ENTiTY.Gold': 74,
 'Assassins': 75,
 'mouseSpaz': 76,
 'WeGotGame': 77,
 'GoldenMix': 78,
 'Las Vegas MiniGunners': 79,
 'Will to Win': 80,
 'Oceanus': 81,
 'ENCORE': 82,
 'Dignitas': 83,
 'ROCK CANDY': 84,
 'Glockoma': 85,
 'PuddiPuddi': 86,
 'MDL Jammers': 87,
 'New England Whalers': 88,
 'Yalla': 89,
 'EU4IA': 90,
 'KoN Norway': 91,
 'Big Frames': 92,
 'ex-Nitrious': 93,
 'Vexilla': 94,
 'Dutch Prodigy': 95,
 'Genuine': 96,
 'Eclipse.o': 97,
 'seven': 98,
 'Champagne SuperNova': 99,
 'weneeddollars': 100,
 'OnlineBOTS': 101,
 'NEO Blue': 102,
 'Reflex': 103,
 'SMAZING': 104,
 'Envy': 105,
 'Great Danes': 106,
 'Gambit Academy': 107,
 'ex-Space Soldiers': 108,
 'ALTERNATIV': 109,
 'exDT': 110,
 'InControl': 111,
 'FENNEC ': 112,
 'Zorka': 113,
 'eSuba': 114,
 'Ignis': 115,
 'G2': 116,
 'ex-Mentality': 117,
 'Isurus': 118,
 'AOES': 119,
 'BiG MiSTAKE': 120,
 'AWTR': 121,
 'CLG Academy': 122,
 'Team peacemaker': 123,
 'k1ck': 124,
 'JYP': 125,
 'Noble': 126,
 'Astralis': 127,
 'The Pioneers': 128,
 'Deathtrap': 129,
 'Finesse': 130,
 'Living Like Larry': 131,
 'ex-eRa': 132,
 'fightclub': 133,
 'FCDB': 134,
 'TEAM1231': 135,
 'Kingpins': 136,
 'WG': 137,
 'Binary Dragons': 138,
 'eXtatus': 139,
 'KPI': 140,
 'Shanghai Emperors': 141,
 'Mythic': 142,
 'noKappa': 143,
 'T5': 144,
 'Immortals': 145,
 'Thunder Logic': 146,
 'Kheegui': 147,
 'Locastic': 148,
 'Brasil Gaming House': 149,
 'Blight': 150,
 'TQM': 151,
 'WINside': 152,
 'Tribo Fu': 153,
 'OneWay': 154,
 'Stifmeister': 155,
 'Fallout': 156,
 'Misfits': 157,
 'Squirtle Squad': 158,
 'dreamWorse': 159,
 'Force of Modem': 160,
 'Alter Your Ego': 161,
 'SJ': 162,
 'PENSIONERS+2': 163,
 'Glacon': 164,
 'Win Scrims Not Matches': 165,
 'wNv': 166,
 'Nordic Warthogs': 167,
 'Smoke Criminals': 168,
 'Whatever It Takes': 169,
 'Secret': 170,
 'TitaNs': 171,
 'VG.Flash': 172,
 'Publiclir.se': 173,
 'WE GOT GAME': 174,
 'ARCY': 175,
 'Digital Wave': 176,
 'Eastern Vikings': 177,
 'proWince': 178,
 'LDDM': 179,
 'Third Times a Charm': 180,
 'Maple': 181,
 'KKona': 182,
 "Bee's Money Crew": 183,
 'walkover': 184,
 'Parallax': 185,
 'RUFUS': 186,
 'ex-Manatee': 187,
 'Paranoia': 188,
 'h00liGaNz': 189,
 'evicted': 190,
 'Forcebuy': 191,
 'CL4NLESS': 192,
 'Node': 193,
 'Squared': 194,
 'Iwku': 195,
 'SK': 196,
 'Rebellion': 197,
 'EaV': 198,
 'zARLANS': 199,
 'Pompa Academy': 200,
 'lapw': 201,
 'MAXISAUCISSE': 202,
 'Dippers': 203,
 'No Tenemos Nada': 204,
 'LDLC': 205,
 'Alma': 206,
 '1944': 207,
 'Gorilla Gang': 208,
 '7642': 209,
 'Dark Origin': 210,
 'Gatekeepers': 211,
 'GameplayDNA': 212,
 'J2G': 213,
 'DICKHOUSE': 214,
 'Syman': 215,
 'Alpha Sydney': 216,
 'undefined': 217,
 'PRINCEADIL': 218,
 'Epiphany Bolt': 219,
 'The Foxes': 220,
 'DivisionX': 221,
 'ex-Singularity': 222,
 'timbermen': 223,
 'SSU White': 224,
 'xoxo': 225,
 'hookahlike': 226,
 'Deceptors': 227,
 'ROAR': 228,
 'North Academy': 229,
 'Monky See Monky Do': 230,
 'demise': 231,
 'Novacancy': 232,
 'Expendables': 233,
 'CLG Green': 234,
 'ex-Deathtrap': 235,
 'Czech Republic': 236,
 'Play4Lan': 237,
 'Evidence': 238,
 'KoN Finland': 239,
 'Armada': 240,
 'TTFU': 241,
 'Divine Soldiers': 242,
 'Delete': 243,
 'Rebels': 244,
 'Global': 245,
 '1WIN': 246,
 'TheGosuCrew': 247,
 'Atlando': 248,
 'Winterfox': 249,
 '8 Minded': 250,
 'Shot': 251,
 'Rogue Academy': 252,
 'RESOLUTE': 253,
 'OTFS': 254,
 'MOTV': 255,
 'FunPlus Phoenix': 256,
 'The Mad Lads': 257,
 'LiViD': 258,
 'SkitLite': 259,
 'G2V': 260,
 'Just.MSI': 261,
 'Drip or Drown': 262,
 '5cent': 263,
 'GrayToad': 264,
 'Azure': 265,
 'Xunwu Teamwork': 266,
 'BuzzKill': 267,
 'Wargods': 268,
 'Eanix': 269,
 'iGame.com': 270,
 'FRENCH CANADIANS': 271,
 'Nocturns': 272,
 'TheDice': 273,
 'Chetz': 274,
 'ZDM': 275,
 'ex-Velocity': 276,
 'ex-Tempo Storm': 277,
 'Manatee': 278,
 'LaZe': 279,
 'Ace High': 280,
 'FULL SEND': 281,
 'Fighting 4 Freedom': 282,
 'CERUS': 283,
 'Rascal Jester': 284,
 'Player 5': 285,
 'Corvidae': 286,
 'VG.Renascence': 287,
 'Airborne': 288,
 'MALCO': 289,
 'ex-3DMAX': 290,
 'SinnerS': 291,
 'Darayu Delta Squad': 292,
 'eNergy Academy': 293,
 'Fragging for Andy': 294,
 'GG': 295,
 'Number': 296,
 'SLK': 297,
 'Asterion': 298,
 'Phenomenon': 299,
 'Bajini Puleni': 300,
 'Conquer': 301,
 'bamboozled': 302,
 'Granted': 303,
 'SPRITTET': 304,
 'EHOME': 305,
 'ENCE': 306,
 'New Identity': 307,
 'k0pfsache': 308,
 'Evolution': 309,
 'Odense': 310,
 'Monarchs': 311,
 'ex-Wild': 312,
 'Carnage': 313,
 'Vatos Locos': 314,
 'KlikTech': 315,
 'Flow': 316,
 'Flash': 317,
 'Rude': 318,
 'Huzy': 319,
 'HAVU': 320,
 'Mask Off': 321,
 'HEADSHOTBG': 322,
 'SYF': 323,
 'Lucky7': 324,
 'ArkAngel': 325,
 'Lilmix': 326,
 'Rysix': 327,
 'Energy': 328,
 'Sherifi': 329,
 'NSPR': 330,
 'ex-CPH Wolves': 331,
 'BBC': 332,
 'miMo': 333,
 'Besiktas': 334,
 '100 Thieves': 335,
 'Iceberg': 336,
 'LEOPARD': 337,
 'Good Fellas': 338,
 'BTRG': 339,
 'Entity': 340,
 'ex-Athletico': 341,
 'Vilay': 342,
 'Insomnia': 343,
 'INTZ.Home': 344,
 'Imperial': 345,
 'Black Label Society': 346,
 'AEON': 347,
 'BIG': 348,
 'TinderklubeN': 349,
 'Holo': 350,
 'SofaKingGood': 351,
 'Pathless': 352,
 'auRa': 353,
 'attackiereN': 354,
 'Clarity': 355,
 'Onyx': 356,
 'Berzerk': 357,
 'CheeseLTD': 358,
 'RANKS': 359,
 'coREA': 360,
 'FTW': 361,
 'Reload': 362,
 'ex-g3x': 363,
 'Lemondogs': 364,
 'warmup': 365,
 'Ascent': 366,
 'passions': 367,
 'TShow': 368,
 'fakeDOSPRO': 369,
 'TRIDENT Storm': 370,
 'RCTIC': 371,
 'Natus Vincere': 372,
 'Anonymous': 373,
 'TamuluS': 374,
 'LiNE5 Academy': 375,
 '13th Hour': 376,
 'Geostorm': 377,
 'Revolt': 378,
 'inchk1ng': 379,
 'iNETKOXTV': 380,
 'Mammoth': 381,
 'Valiance': 382,
 'Coscu Army': 383,
 'HellRaisers': 384,
 'E-frag.net': 385,
 'Astral Influence': 386,
 'Noxide': 387,
 'BBSP': 388,
 'Rise Nation': 389,
 'ex-Denial': 390,
 'MAC-51': 391,
 'boxr': 392,
 'maskinisterna': 393,
 'ikarus': 394,
 'Ha MaSSe': 395,
 'RoX': 396,
 'ex-iNTACT': 397,
 'beGenius': 398,
 'Tenerife Titans': 399,
 'Impossible': 400,
 'Ukraine': 401,
 'ex-Caladrius': 402,
 'x-kom': 403,
 'Youngsters': 404,
 'S2N': 405,
 'Paradox': 406,
 'XCN': 407,
 'OverSports': 408,
 'Pompa Black': 409,
 'Planetkey': 410,
 'Finest': 411,
 'Tricked Academy': 412,
 'MVP.karnal': 413,
 'Slovakia': 414,
 'Torqued': 415,
 'cOOLkids': 416,
 'KAV0': 417,
 'Gorilla Core': 418,
 'Black': 419,
 'BOOM': 420,
 'ex-BLUEJAYS': 421,
 'Wyvern': 422,
 'Unicorns of Love': 423,
 'Riot fe': 424,
 "eL'quvet": 425,
 '90ss': 426,
 'Wings.V': 427,
 'Revolte': 428,
 'Rush': 429,
 'ex-Fury': 430,
 'call it luck': 431,
 'Brazen': 432,
 'RRQ': 433,
 'OVERDRIVE': 434,
 'Latingamers': 435,
 'Apeks': 436,
 'Premier Rejects': 437,
 'GEX': 438,
 'Enigma6': 439,
 'Orion': 440,
 "Ange's Big Toe": 441,
 'ANTI ECO': 442,
 'Vexed fe': 443,
 'NoChance': 444,
 'Unique': 445,
 'Denial': 446,
 'Hot Ass': 447,
 'Carnage fe': 448,
 'PANTHERS': 449,
 'BOTS': 450,
 'BFAIM': 451,
 'X': 452,
 'neXtPlease!': 453,
 'fakemaquinas': 454,
 'Surge': 455,
 'PUR$i$EURA': 456,
 'Limitless': 457,
 'LDLC Blue': 458,
 'Sentinel': 459,
 'Mantegos': 460,
 'OPAA': 461,
 'IPET': 462,
 'Tundra': 463,
 'Supremacy': 464,
 'TzatzikiKlubben': 465,
 'RuSh3D': 466,
 'EDG': 467,
 'NoTag': 468,
 'DISMAY': 469,
 'Sigma': 470,
 'CSGL': 471,
 'KOVA': 472,
 'Vulkanbet': 473,
 'Vault': 474,
 'Overcome': 475,
 'Insidious': 476,
 'JESTE': 477,
 'LowLandLions': 478,
 'Just Swing': 479,
 'hREDS': 480,
 'Espada': 481,
 'PAPERPLANES': 482,
 'Agressive': 483,
 'GODSENT': 484,
 'FTW. Prinfor': 485,
 "XPRESIV'E": 486,
 'Ex-Rejected': 487,
 'Ambition': 488,
 'Vantage': 489,
 'Bring It On': 490,
 'fnatic': 491,
 'Vikings.Vortex': 492,
 'Swole Identity': 493,
 'Spartak': 494,
 'Dynasty': 495,
 'BLITZKRIEG': 496,
 'K23': 497,
 'Grizzlys': 498,
 'Ardeont Academy': 499,
 'Vaevictis': 500,
 'Braindead': 501,
 'fbg': 502,
 'Infused': 503,
 'dream[S]cape': 504,
 'Luminosity': 505,
 'VG.Anthrax': 506,
 'HyperioN': 507,
 'TORI': 508,
 'Cypher': 509,
 'RMU': 510,
 'Chiefs': 511,
 'nxl': 512,
 'Japaleno': 513,
 'Não Tem Como': 514,
 'Eat You Alive': 515,
 'Legends': 516,
 'Party Astronauts': 517,
 'HEY': 518,
 'Those Damn Canadians': 519,
 'District 9': 520,
 'Colombia': 521,
 '4US': 522,
 'LeiSuRe': 523,
 'Impunity': 524,
 'Keyd': 525,
 'China': 526,
 'EGOBOYZ': 527,
 'Liquid': 528,
 'SlashCry': 529,
 'Itakera Classic': 530,
 'Universe': 531,
 'Very1z': 532,
 'Legacy': 533,
 'ATB': 534,
 '1UP': 535,
 'Nexus': 536,
 'Supernova': 537,
 'GameAgents': 538,
 'MiTH.Maple': 539,
 'Riotous': 540,
 'Nordavind': 541,
 'FrenchFrogs': 542,
 'CS-GO.rs': 543,
 'CHI DA?': 544,
 'Damage Control': 545,
 '3DMAX': 546,
 'PSYCHOACTIVE': 547,
 'Hurricane Dolphin': 548,
 'AllTheStars': 549,
 'LGB fe': 550,
 'VeritasAequitas': 551,
 'No Quarter Cartel': 552,
 'FMESPORTS': 553,
 'SMASH': 554,
 'Tempo Storm': 555,
 'ex-Paradox': 556,
 'Ulti': 557,
 'MAD Lions': 558,
 'ProGamers': 559,
 'Not Academy': 560,
 'Under 21': 561,
 'White Rabbit': 562,
 '2019': 563,
 'TEAM5': 564,
 'WinFiction': 565,
 'Reform': 566,
 'Most Wanted': 567,
 'Method': 568,
 'Sensei': 569,
 'Content': 570,
 'Bushido Boyz': 571,
 'ex-Findictus': 572,
 'AVANGAR': 573,
 'Enter': 574,
 'DETONA': 575,
 'mCon': 576,
 'Elite Wolves': 577,
 'Exile5': 578,
 'kalajarnot': 579,
 'VwS': 580,
 'ex-Epsilon': 581,
 'Arena Bulls': 582,
 'ATK': 583,
 'Orange': 584,
 'Uruguay': 585,
 'INTZ.Academy': 586,
 'GUTS': 587,
 'Swole Patrol': 588,
 'GTV.Revolution': 589,
 'NYYRIKKI': 590,
 'Warthox': 591,
 'Born Of Fire': 592,
 'OnlineRol': 593,
 'Devious': 594,
 'Santos': 595,
 'Property fe': 596,
 'YP Ladies': 597,
 'Roar': 598,
 'seadoggs': 599,
 'gBots': 600,
 'Cloud9': 601,
 'FIVE': 602,
 'expert fe': 603,
 'CyberZen': 604,
 "Jordan's Money Crew": 605,
 'All Knights': 606,
 'Vega Squadron': 607,
 'Eimi Fukada FC': 608,
 'Dogs of War': 609,
 'Spawn': 610,
 'FLuffy Gangsters': 611,
 'Aequus': 612,
 'SetToDestroyX': 613,
 'Windigo': 614,
 'Main Street': 615,
 'MVP Project': 616,
 'heX': 617,
 'BootKamp': 618,
 'HYDR': 619,
 'Signature': 620,
 'SKDC': 621,
 'DreamEaters': 622,
 'NOVA': 623,
 'Exdee': 624,
 'c0ntact': 625,
 'Formidable': 626,
 'Say No More': 627,
 'C4': 628,
 'Crowns': 629,
 'Isak': 630,
 'ex-Royal Bandits': 631,
 'Crystal Vision': 632,
 'Fam143': 633,
 'gloryUS': 634,
 'ex-Fragsters': 635,
 'Wizards': 636,
 'Young Blood': 637,
 'ProGaming': 638,
 'ex-Virtus.pro': 639,
 '5Love.N4': 640,
 'EYESports': 641,
 'AlienTech': 642,
 'ex-Naventic': 643,
 'TRS': 644,
 'Akatsuki': 645,
 'Demise': 646,
 'IMBA.SAS': 647,
 'Aperture': 648,
 'm1x': 649,
 'NUT': 650,
 'Epsilon Hype': 651,
 'EMC': 652,
 'I sleep': 653,
 'Riotous Academy': 654,
 'Adaptation': 655,
 'PACT': 656,
 'Bren': 657,
 'paiN': 658,
 'W7M': 659,
 'Balderisnor': 660,
 'ex-AVANT': 661,
 'SFTO': 662,
 'Ripple': 663,
 'VenatoreS': 664,
 'Guerilla Method': 665,
 'HG': 666,
 'Kinguin': 667,
 'Ignite': 668,
 'Breakaway': 669,
 'Clutch Solutions': 670,
 'MbI MuKC': 671,
 'Bulgaria': 672,
 'Recon 5': 673,
 'Game4Glory': 674,
 'Bull': 675,
 'Masked': 676,
 'Lowkey': 677,
 'ImmuNe ': 678,
 'iNTACT': 679,
 'VITALIS': 680,
 'Zone': 681,
 'eUnited': 682,
 'Enemy': 683,
 'Izako Boars': 684,
 'Carpe Noctem': 685,
 'UYA': 686,
 'n0_0rg': 687,
 '1337': 688,
 'EPG': 689,
 'DINQ': 690,
 'fnatic Academy': 691,
 'ex-Luminosity': 692,
 'Weekend Warriors': 693,
 'Mock-it': 694,
 'Sabertooth': 695,
 'nevermind': 696,
 'Shidiots': 697,
 'CeX': 698,
 'EN9MY': 699,
 'Vitória': 700,
 'FURIA': 701,
 'DEMONIO': 702,
 'Nexus Storm': 703,
 'Royal Bandits': 704,
 'MAJESTY': 705,
 'LeftOut': 706,
 'ex-NSPR': 707,
 'GUNRUNNERS': 708,
 'Reason': 709,
 'Infamous': 710,
 'cantwinalan': 711,
 '5orgless': 712,
 'Underdogs': 713,
 'Riotous Raccoons': 714,
 'Oceanic': 715,
 'raregods': 716,
 'Lebanon': 717,
 'Empire': 718,
 'Bitfix': 719,
 'Orgless': 720,
 'MIKSTURA': 721,
 'INTZ': 722,
 'GG1337': 723,
 'Hadouken': 724,
 "4'US": 725,
 'Skjuta Hess': 726,
 'Ladon': 727,
 'visomvet': 728,
 'Funkd': 729,
 'thnakes': 730,
 'FeelsUnderAgeMan': 731,
 'Control': 732,
 'pro100': 733,
 'ex-GameplayDNA': 734,
 'STREAMLINE': 735,
 'OpTic India': 736,
 'Cream': 737,
 'Big 5': 738,
 'ex-MC': 739,
 'BE INFAMOUS': 740,
 'CSBL': 741,
 'Copenhagen Flames': 742,
 'Russian Street Party': 743,
 'Söderberg & Partners': 744,
 'Moscow Five Academy': 745,
 'Remo Brave': 746,
 'Binary Dragons Gold': 747,
 '3 NEW 2 OLD': 748,
 'Alpha Nerds': 749,
 'NiP': 750,
 'Brewtopia': 751,
 'Secret fe': 752,
 'Ancient': 753,
 'Rap Gang': 754,
 'RESISTANCE': 755,
 'rTE': 756,
 'fruits': 757,
 'TYLOO fe': 758,
 'XUXAN': 759,
 'Unity': 760,
 'ttc': 761,
 'QuackPack': 762,
 'Lynn Vision': 763,
 'LLG': 764,
 'disADVANCtagED': 765,
 'Ambush': 766,
 'Prophecy': 767,
 'Games Academy': 768,
 'Wolsung': 769,
 'ANIMALS': 770,
 'Marskalk': 771,
 'Stepback': 772,
 'Station-751': 773,
 'Rise and Grind': 774,
 'ex-eUnited': 775,
 'iNTRO': 776,
 'Thailand': 777,
 'Wubbalubbadubdub': 778,
 'NewliFe': 779,
 'Denmark': 780,
 'Infinity': 781,
 'Hysteria': 782,
 'Moops': 783,
 'Rofed': 784,
 'Juggernauts': 785,
 'BRIEF': 786,
 'MC': 787,
 'Hard Legion': 788,
 'Goliath': 789,
 'SHIFT': 790,
 'The Quest': 791,
 'Goodfellas': 792,
 'Sangal': 793,
 'Bunkergg': 794,
 'Turma do Pagode': 795,
 'Knights': 796,
 'SKADE': 797,
 'Seed': 798,
 'devils.one': 799,
 'Wise': 800,
 'OpTic': 801,
 'AGG': 802,
 'GTZ Bulls': 803,
 'HARDNEJA': 804,
 'Complexity': 805,
 'vitrioL': 806,
 'LGR': 807,
 'ECLOT': 808,
 'GOSU': 809,
 'Sinister5': 810,
 'Royal': 811,
 'Ardeont': 812,
 'ACG': 813,
 'Vision': 814,
 'UP': 815,
 'Rugratz': 816,
 '?': 817,
 'Quad': 818,
 'Indonesia': 819,
 'Singularity fe': 820,
 'District 7': 821,
 'DEFY': 822,
 'JavsrieN': 823,
 'BOOT': 824,
 'Singapore': 825,
 'DedSet': 826,
 'Atrapa2': 827,
 'Bravado': 828,
 'GameTV': 829,
 'FATE': 830,
 'Spirit Academy': 831,
 'Jaguar': 832,
 'Drama Dogs': 833,
 'Aim4R': 834,
 'Alpha Red': 835,
 'T.O.T': 836,
 'Wings': 837,
 'Savor the Fear': 838,
 'IDM': 839,
 'Really Old People': 840,
 'StackEm': 841,
 'CSGO2x': 842,
 'Hyper': 843,
 'Without a Roof': 844,
 'rUNITED': 845,
 'Gen.G': 846,
 'Born in Mongolia': 847,
 'BL4ZE': 848,
 "Ben's Anime Team": 849,
 'Heroic': 850,
 'Enso': 851,
 'MANS NOT HOT': 852,
 'WarMonkeys': 853,
 'FGE': 854,
 'Escape': 855,
 'ENCHANT POISON': 856,
 'Wisla Krakow': 857,
 'iNation': 858,
 'aimclub': 859,
 'JAM': 860,
 'Venko': 861,
 'RHD': 862,
 'Codewise Unicorns': 863,
 'Rebirth': 864,
 'eEriness': 865,
 'Overpowered': 866,
 'Conquest': 867,
 'ex-SEAL': 868,
 'Gambit Youngsters': 869,
 'buaksib': 870,
 'ShotCallers': 871,
 'ZZCY': 872,
 'EnVyUs Academy': 873,
 'The Entourage': 874,
 '5FRAGS.EKB': 875,
 'Property': 876,
 'Baltic Elite': 877,
 'Imperio Multimedia': 878,
 'glassysky': 879,
 'Comanche': 880,
 'Prospects': 881,
 'Mineski': 882,
 'MMCLUB': 883,
 'Mentality': 884,
 'Evil Geniuses': 885,
 'Vexed': 886,
 'HEXAGONE': 887,
 'LDLC fe': 888,
 'USSR': 889,
 'WinOut': 890,
 'Prima': 891,
 'Candy Camel': 892,
 'Temp.no': 893,
 'pharsyde': 894,
 'Enyoy': 895,
 'Dobry&Gaming': 896,
 'Mostly Harmless': 897,
 'Off The Grid': 898,
 'Granit': 899,
 'ex-Windigo': 900,
 'Keyd fe': 901,
 'Red Instinct': 902,
 'MAX': 903,
 'Polar Ace': 904,
 'NONAME': 905,
 'Exertus fe': 906,
 'Phoenix': 907,
 'AZIO': 908,
 'Team123': 909,
 'KhARUM': 910,
 'Alpha': 911,
 'Station7': 912,
 'blitz': 913,
 'Spirifex': 914,
 'Divine': 915,
 'Muffin Lightning': 916,
 'VodkaJuniors': 917,
 "Peeker's Advantage": 918,
 'm0nster': 919,
 'ORDER': 920,
 'CSatse': 921,
 'INFURITY': 922,
 '4Real': 923,
 'Chris and the boys': 924,
 'Invictus Aquilas': 925,
 'Energy Pacemaker': 926,
 'SMC': 927,
 'Violight': 928,
 'Sippintea': 929,
 'Minttu': 930,
 'Intic': 931,
 'Arcade': 932,
 'Mystical': 933,
 "spray'n'pray": 934,
 'NOREG': 935,
 'Acapella': 936,
 'Future Perfect': 937,
 'Brutality': 938,
 'MeMyself&I': 939,
 'LGD': 940,
 'rewound': 941,
 'Queso': 942,
 'BTRG.IMBA': 943,
 'PixelFire': 944,
 'NOTBAD': 945,
 'Imperium': 946,
 'ViCi': 947,
 'Heavy KnockOut': 948,
 'Fragsport': 949,
 'Mongolia': 950,
 'Brutalis': 951,
 'MIBR': 952,
 'HoP': 953,
 'Gambit': 954,
 'Athletico': 955,
 'Devious ': 956,
 'Redemption POA': 957,
 'eXplosive': 958,
 'ATMOS': 959,
 'Gale Force': 960,
 'catman': 961,
 'Without Warning': 962,
 'MFC': 963,
 'TheMongolz': 964,
 'GODSENT Academy': 965,
 'Sadbots': 966,
 'North': 967,
 'Pixel': 968,
 'Squared Prospects': 969,
 'D13': 970,
 'Kazek': 971,
 'Refuse': 972,
 'Singularity': 973,
 'The Foundation': 974,
 'RivaL': 975,
 'Threats': 976,
 'Kryvbas': 977,
 'Ronin Horde': 978,
 'calmface': 979,
 'ex-Next Generation': 980,
 'Athletico Gold': 981,
 'Red Wolf': 982,
 'Lazarus fe': 983,
 'Final Feature': 984,
 'Retired': 985,
 'Dynasty fe': 986,
 'nEophyte': 987,
 'SP': 988,
 'GAMERZONE': 989,
 'Next Generation': 990,
 'Lazarus': 991,
 'WePlayGames': 992,
 'En av de lette': 993,
 'Turkey': 994,
 'Bad News Bears': 995,
 'Recca': 996,
 'Blank': 997,
 'WORTEX': 998,
 'Keymotion': 999,
 ...}

In [31]:
X_test['team_1'] = X_test['team_1'].replace(team_to_num)
X_test['team_1']

0    1471
1     797
2     511
3     116
4    1480
Name: team_1, dtype: int64

In [32]:
X_test['team_2'] = X_test['team_2'].replace(team_to_num)
X_test['team_2']

0     673
1    1521
2    1341
3     348
4     246
Name: team_2, dtype: int64

In [33]:
#clf = RandomForestClassifier(max_depth=50)
model.fit(X, y)

new_matches['predicted_winner'] = clf.predict(X_test)
new_matches[['team_1','team_2','predicted_winner']]

    team_1         team_2  predicted_winner
0  Triumph        Recon 5                 1
1    SKADE  Budapest Five                 1
2   Chiefs        Skyfire                 1
3       G2            BIG                 1
4      AGO           1WIN                 1

## Analysis

In [ ]:
## As I copied my orginal data into df_winner, lets use it now, to know more about those categories

df_winner.head(10)

## Rank_1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import relativedelta

In [ ]:
df_winner.rank_1.head()

In [ ]:
df_winner.rank_1.describe()

In [ ]:
df_winner.rank_1.isna().sum()

In [ ]:
sns.distplot(df_winner.rank_1, axlabel = 'rank_1')

In [ ]:
df.boxplot(column='rank_1', return_type='axes')

In [ ]:
status_order = [1,2]
status_palette = ["#ff2600","#0dbd25"]
color_reg = "#0dbd25"
color_winner = "#ff2600"

sns.boxplot(x='match_winner', y='rank_1', data=df, order=status_order, palette = status_palette)
plt.show()

In [ ]:
df_reg = df[df.match_winner == 1 ]
df_winner = df[df.match_winner == 2]

sns.distplot(df_winner.match_winner, label='Winner', color=color_winner)
sns.distplot(df_reg.match_winner, label='Regular', color=color_reg)
plt.legend(labels=['Winner','Regular'])
plt.show()