##  Adding more input to our previous model

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [6]:
df_raw_cols = ['team_1', 'team_2', '_map', 'result_1', 'result_2', 'map_winner', 'starting_ct', 'ct_1',
              't_2', 't_1', 'ct_2', 'event_id', 'match_id', 'rank_1', 'rank_2', 'map_wins_1', 'map_wins_2','match_winner']
df_raw = pd.read_csv('./results1.csv')
df_raw.head(5)

,Unnamed: 0,team_1,team_2,_map,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
0,0,Recon 5,TeamOne,Dust2,0,16,2,2,0,1,0,15,5151,2340454,62,63,0,2,2
1,1,Recon 5,TeamOne,Inferno,13,16,2,2,8,6,5,10,5151,2340454,62,63,0,2,2
2,2,New England Whalers,Station7,Inferno,12,16,2,1,9,6,3,10,5243,2340461,140,118,12,16,2
3,3,Rugratz,Bad News Bears,Inferno,7,16,2,2,0,8,7,8,5151,2340453,61,38,0,2,2
4,4,Rugratz,Bad News Bears,Vertigo,8,16,2,2,4,5,4,11,5151,2340453,61,38,0,2,2

In [7]:
df_winner = df_raw.copy()

In [8]:
df_winner.shape

(45773, 19)

In [9]:
df_winner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45773 entries, 0 to 45772
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    45773 non-null  int64
 1   team_1        45773 non-null  object
 2   team_2        45773 non-null  object
 3   _map          45773 non-null  object
 4   result_1      45773 non-null  int64
 5   result_2      45773 non-null  int64
 6   map_winner    45773 non-null  int64
 7   starting_ct   45773 non-null  int64
 8   ct_1          45773 non-null  int64
 9   t_2           45773 non-null  int64
 10  t_1           45773 non-null  int64
 11  ct_2          45773 non-null  int64
 12  event_id      45773 non-null  int64
 13  match_id      45773 non-null  int64
 14  rank_1        45773 non-null  int64
 15  rank_2        45773 non-null  int64
 16  map_wins_1    45773 non-null  int64
 17  map_wins_2    45773 non-null  int64
 18  match_winner  45773 non-null  int64
dtypes: int64(16), object(3)
memory usage: 6.6+ MB

In [10]:
df_winner.columns

Index(['Unnamed: 0', 'team_1', 'team_2', '_map', 'result_1', 'result_2',
       'map_winner', 'starting_ct', 'ct_1', 't_2', 't_1', 'ct_2', 'event_id',
       'match_id', 'rank_1', 'rank_2', 'map_wins_1', 'map_wins_2',
       'match_winner'],
      dtype='object')

In [11]:
df_winner.describe()

,Unnamed: 0,result_1,result_2,map_winner,starting_ct,ct_1,t_2,t_1,ct_2,event_id,match_id,rank_1,rank_2,map_wins_1,map_wins_2,match_winner
count,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000,4.577300e+04,45773.000000,45773.000000,45773.000000,45773.000000,45773.000000
mean,22886.000000,13.385489,12.731545,1.462478,1.501387,6.659515,6.057283,6.375571,6.335482,3580.790859,2.321278e+06,68.394228,77.289428,4.896708,4.597710,1.464204
std,13213.671273,4.417713,4.715722,0.498596,0.500004,3.257815,3.161310,3.184036,3.285287,904.337168,1.170610e+04,61.835919,65.708309,6.044017,5.931323,0.498722
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,820.000000,2.299001e+06,1.000000,1.000000,0.000000,0.000000,1.000000
25%,11443.000000,11.000000,9.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,2818.000000,2.311132e+06,22.000000,28.000000,1.000000,1.000000,1.000000
50%,22886.000000,16.000000,16.000000,1.000000,2.000000,7.000000,6.000000,6.000000,6.000000,3572.000000,2.321956e+06,49.000000,58.000000,2.000000,2.000000,1.000000
75%,34329.000000,16.000000,16.000000,2.000000,2.000000,9.000000,8.000000,9.000000,9.000000,4346.000000,2.331691e+06,96.000000,110.000000,8.000000,7.000000,2.000000
max,45772.000000,38.000000,41.000000,2.000000,2.000000,15.000000,16.000000,15.000000,15.000000,5248.000000,2.340461e+06,404.000000,404.000000,34.000000,34.000000,2.000000

In [ ]:
df_winner = df_winner[['team_1', 'team_2', '_map', 'rank_1', 'rank_2', 'match_winner']]

In [ ]:
df_winner.head()

In [ ]:
df_winner.info()

In [ ]:
df_winner.isna().sum()

In [ ]:
# let's first copy the data

df = df_winner.copy()
df.head()

## model

In [ ]:

import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from numpy import arange
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import cross_validate
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import make_scorer, accuracy_score, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

from sklearn.pipeline import Pipeline
import pickle
import datetime
from datetime import datetime as dt
from datetime import timedelta


from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier

In [ ]:
%matplotlib inline
plt.style.use('fivethirtyeight')

In [ ]:
X = df.drop('match_winner', axis = 1)
y = df['match_winner'].values

## experiments

In [ ]:
set_of_teams = set(list(X['team_1']) + list(X['team_2']))
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))

In [ ]:
X['team_1'] = X['team_1'].replace(team_to_num)
X['team_1'].head()

In [ ]:
X['team_2'] = X['team_2'].replace(team_to_num)
X['team_2'].head()

## end experiments

# Model

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
X_train, X_val, y_train, y_val = train_test_split(X_train,y_train,test_size=0.25, random_state=0)

In [ ]:
tstart = dt.now()
pipe = Pipeline(steps=[
    ('randomforest', RandomForestClassifier())
])

param_grid = {
    'randomforest__n_estimators':[100],
    'randomforest__criterion':['entropy'],
    'randomforest__max_depth':[50,100,50],
    'randomforest__max_features':['auto', 'sqrt', 'log2']
}
model=GridSearchCV(estimator=pipe,
                         param_grid=param_grid,
                         scoring='roc_auc', 
                         n_jobs=-1,
                         pre_dispatch='2*n_jobs', 
                         cv=5, 
                         verbose=1,
                         return_train_score=False)

model.fit(X_train,y_train)

pkl_filename = "./models/randomforest.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

X_val_np = X_val.to_numpy()
predicted = model.predict(X_val_np)
proba = model.predict_proba(X_val_np)

accuracy=accuracy_score(y_val, predicted)

CM = confusion_matrix(y_val, predicted)
(TN,FN,TP,FP) = (CM[0][0],CM[1][0],CM[1][1],CM[0][1])
FPR = FP/(FP+TN)
recall = TP/(TP+FN)
precision = TP / (TP+FP)
f1 = 2*(recall*precision)/(recall+precision)
tend = dt.now()
delta = tend-tstart


print("Best Params-")
print(model.best_params_)

print("\n")
print("Algorithm: ", 'RandomForestClassifier')
print("Accuracy: ",accuracy)
print("Precession : ",precision)
print("Recall: ", recall)
print("F1-support: ", f1)
print("FPR: ", FPR)
print("Runtime: ", delta)

print("Best Params-")
print(model.best_params_)

In [ ]:
base_model = RandomForestClassifier(criterion = 'entropy', max_depth = 50, max_features = 'sqrt', verbose = 1)

In [ ]:
base_model.fit(X_train, y_train)

In [ ]:
predicted = base_model.predict(X_val_np)
accuracy = accuracy_score(y_val, predicted)
print(f"Accuracy is:{accuracy}")

## Testing

In [ ]:
import numpy.ma as ma
#copied from the given model
new_matches = {'team_1': ['Triumph','SKADE','Chiefs','G2','AGO', 'Fiend','KHAN','ALTERNATE aTTaX','ABC'],
               'team_2': ['Recon 5','Budapest Five','Skyfire','BIG','1WIN','Lyngby Vikings','K23', 'AGO','XYZ'],
               
               'rank_1': [79,23,141,4,37, 22, 42, 125, 10],
               'rank_2': [112,80,151,9,46, 49, 36, 8, 9]
              }
new_matches = pd.DataFrame(data=new_matches)

In [ ]:
X_test = new_matches[['team_1','team_2','rank_1', 'rank_2']]

In [ ]:
set_of_teams = set(list(X_test['team_1']) + list(X_test['team_2']))
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))

In [ ]:
team_to_num = dict(zip(set_of_teams, range(len(set_of_teams))))
team_to_num

In [ ]:
X_test['team_1'] = X_test['team_1'].replace(team_to_num)
X_test['team_1']

In [ ]:
X_test['team_2'] = X_test['team_2'].replace(team_to_num)
X_test['team_2']

In [ ]:
clf = RandomForestClassifier(max_depth=50)
clf.fit(X, y)

new_matches['predicted_winner'] = clf.predict(X_test)
new_matches[['team_1','team_2','predicted_winner']]

## Analysis

In [ ]:
## As I copied my orginal data into df_winner, lets use it now, to know more about those categories

df_winner.head(10)

## Rank_1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import relativedelta

In [ ]:
df_winner.rank_1.head()

In [ ]:
df_winner.rank_1.describe()

In [ ]:
df_winner.rank_1.isna().sum()

In [ ]:
sns.distplot(df_winner.rank_1, axlabel = 'rank_1')

In [ ]:
df.boxplot(column='rank_1', return_type='axes')

In [ ]:
status_order = [1,2]
status_palette = ["#ff2600","#0dbd25"]
color_reg = "#0dbd25"
color_winner = "#ff2600"

sns.boxplot(x='match_winner', y='rank_1', data=df, order=status_order, palette = status_palette)
plt.show()